:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:wght@500;600;700&display=swap');
/*Así importo la fuente*/

*{
    margin: 0 auto;
    text-decoration: none;
}
body{
    font-family: 'League Spartan';

}
header{
    display: flex;
}

.logo{
    padding: 6px;
    margin: 40px;
    margin-left: 60px; /* poner a la misma altura que la silla*/
}
.nav{
    padding: 5px;
    margin: 40px;

}
.nav a{
    text-decoration: none; /*sacar el subrayado */
    color: white;
    margin: 10px;
}
.cabecera{
    background-image: url('../images/desktop-image-hero-1.jpg');
    background-size: cover;
    min-height: 500px;
    width: 1400px;
    margin: 0; 
    display: flex; /*para que el nav quede en línea*/
}

.botonera{
    background-color: black;
    padding: 20px;
    height: 40px;
    width: 250px;
    text-align: center;
    display: flex;
    margin-top: 28em;
    margin-right: -60px;
    
}

.hero{
   max-width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin: 50px;
   position: relative;
   right: 60px;
   font-family: 'League Spartan', Arial;
}
.hero h2{
    font-size: 40px;
}
.hero a{
    margin-left: 0;
}
.hero p{
    color: var(--dark-gray);
}



#shop{
    color: black; 
    letter-spacing: 1em; /*Espacio entre las letras*/
    font-weight: 700;
}

.hero1{
    display: flex;
    font-family: 'League Spartan', Arial;
}
.hero1 p{
    color: var(--dark-gray);
}


#text{
    min-width: 200px;
    max-width: 600px;
    margin: 40px;

}
#text h3{
    letter-spacing: 0.2em;
}

@media (min-width: 768px) {
    .burger{
        display: none;
    }
 
}